<!DOCTYPE html>
<html>
<head>
    <title>KURS-301</title>
</head>
<body>
    <h1>SINIF LİSTESİ</h1>
    <li>Mahir Aksin</li>
    <li style="color:red">Ahmet</li>
    <li>Mikali</li>
    <li>Recepn</li>
    <li>Asli</li>
    <li>Dogukan</li>
    <li>-</li>
    <li>-</li>
    <li>Berkay</li>
    <li>Murat Eyyüp</li>
    <li>ELif</li>
    <li>Hakan</li>

</body>
</html>